<section class="col-lg-6">
  <img src="{{hdurl}}" alt="" />
  <div class="card my-4 bg-dark">
    <header class="ps-4 card-header bg-success">
      Test
      {{apod.title}}
      {{copyright}}</header>
    <p class="ps-4 card-body">{{explanation}}</p>
  </div>
</section>