    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="earth"
        href="/#earth"
      >Earth</a></li>
    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="moon"
        href="/#moon"
      >Moon</a></li>
    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="sun"
        href="/#sun"
      >Sun</a></li>
    <li><hr class="dropdown-divider text-light" /></li>
    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="mercury"
        href="/#mercury"
      >Mercury</a></li>
    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="venus"
        href="/#venus"
      >Venus</a></li>
    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="mars"
        href="/#mars"
      >Mars</a></li>
    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="jupiter"
        href="/#jupiter"
      >Jupiter</a></li>
    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="saturn"
        href="/#saturn"
      >Saturn</a></li>
    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="uranus"
        href="/#uranus"
      >Uranus</a></li>
    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="neptune"
        href="/#neptune"
      >Neptune</a></li>
    <li><a
        class="dropdown-item bg-dark text-light"
        data-id="pluto"
        href="/#pluto"
      >Pluto</a></li>
  </ul>
</li>