<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Backup PlanIt</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="https://techx-guy.github.io/threejs-start/"
          >Stargate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/featured">Picture of the Day</a>
        </li>
        {{#if loggedIn}}
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Solar System
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Earth</a></li>
              <li><a class="dropdown-item" href="#">Moon</a></li>
              <li><a class="dropdown-item" href="#">Sun</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Mercury</a></li>
              <li><a class="dropdown-item" href="#">Venus</a></li>
              <li><a class="dropdown-item" href="#">Mars</a></li>
              <li><a class="dropdown-item" href="#">Jupiter</a></li>
              <li><a class="dropdown-item" href="#">Saturn</a></li>
              <li><a class="dropdown-item" href="#">Uranus</a></li>
              <li><a class="dropdown-item" href="#">Neptune</a></li>
              <li><a class="dropdown-item" href="#">Pluto</a></li>
            </ul>
          </li>
          <li class="nav-item" id="logout">
            <span class="nav-link">Logout</span>
          </li>
          <script src="/js/logout.js"></script>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
        {{/if}}
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>