<section class="col-lg-6">
  <div class="card my-4 bg-dark">
    <a href="/api/body/{{name}}">
      <header class="ps-4 card-header bg-success">{{name}}:
     
      <p class="ps-4 card-body">{{name.explanation}}</p>
    </a>
  </div>
</section>