<section class="container">
  <h2 class="header text-center">Featured Picture of the Day</h2>
  <div class="container">
    <div class="flex-row row justify-content-center">
      <img class="apod" src="{{hdurl}}" alt="" /></div>
  </div>
  <section class="flex-row row justify-content-center">
    <section class="col-lg-8">
      <div class="card my-4 bg-dark">
        <header
          class="ps-4 card-header bg-success text-center fs-2"
        >{{title}}</header>
        <p class="ps-4 card-body fs-5">{{explanation}} </p>
        <p class="ps-4 card-body fs-5">- {{copyright}}</p>
      </div>
    </section>
  </section>
</section>