<div id="canvas"><div id="model"></div></div>

<script src="/js/three.min.js"></script>
<script src="/js/OrbitControls.js"></script>
<script src="/js/GLTFLoader.js"></script>
<script src="/js/index.js" type="module"></script>
{{!-- <script src="/js/index.min.js" type="module"></script> --}}