html,
body {
  background-color: rgb(23, 22, 22);
  color: rgb(232, 228, 228);
  width: 100%;
  max-height: 100vh;
  margin: 0;
  overscroll-behavior: none;
  touch-action: manipulation;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.apod {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.bg-secondary {
  background-color: #535960 !important;
}

#body-term {
  border-color: #535960;
}

#body-term:active,
#body-term:hover,
#body-term:focus {
  box-shadow: none !important;
  /* outline: 0px !important; */
}

.btn-secondary {
  background-color: #5c5cc9;
  border-color: #5c5cc9;
}

.btn-secondary:focus,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:active:focus:not(:disabled):not(.disabled) {
  background-color: #47479b;
  border-color: #47479b !important;
}

.card-title {
  min-width: 100% !important;
  background-color: #5c5cc9 !important;
  border-radius: 0 0 6px 6px;
  padding: 10px;
}

.dropdown-menu li :hover {
  background-color: #5c5cc9 !important;
  border-radius: 6px;
}

.body-wrapper {
  display: block;
  width: 100%;
}

.newPostBtn {
  height: 60px !important;
  width: 60px !important;
  border-radius: 50%;
}

.bi {
  font-size: 1.7rem !important;
}

canvas {
  max-height: 100vh;
  overflow: hidden;
  outline: none;
  z-index: -1;
}

.heading {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.nav-item,
.navbar-brand,
.dropdown-item {
  font-size: 1.2rem;
}

.nav-link:hover {
  cursor: pointer;
}

.navbar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #171616;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .nav-item,
  .navbar-brand {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 968px) {
  .body-wrapper {
    padding-top: env(safe-area-inset-top, 0);
  }
  .navbar-brand {
    font-size: 1.4rem;
  }
  .nav-item,
  .dropdown-item {
    font-size: 1.3rem;
  }
  .navbar {
    padding-top: env(safe-area-inset-top, 0);
    padding-left: env(safe-area-inset-left, 0);
    padding-right: env(safe-area-inset-right, 0);
    padding-bottom: -env(safe-area-inset-top/2, 0);
  }
}
